<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
    
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="panel-heading">Board</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>BNO</th>
                    <th>TITLE</th>
                    <th>WRITER</th>
                    <th>CONTENT</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" th:each="board : ${result}">
                    <td th:text="${board.bno}"></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${board.content}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>